/* Themes */

h1 {
    color: #000000;
    text-align: center;
}

h2 {
    margin: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #000000;
}

ul li,
ol li {
    line-height: 170%;
}

.horizontalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fullHeight {
    height: 100%;
}

body {
    /* background-color: #ffe8d6; */
    margin: 0 auto;
}

/* 
@media screen and (min-width: 800px) {
    section {
        min-height: 60vh;
    }
} */

section {
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: white;
    z-index: 99;
}

.navbar #linkedin a {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    padding: 14px 16px;
    margin: 18px;
    text-align: center;
    color: rgb(9, 156, 161);
    font-weight: 400;
}

.navbar #portfolio a {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    padding: 14px 16px;
    margin: 18px;
    text-align: center;
    color: rgb(9, 156, 161);
    font-weight: 400;
}

.navbar a:hover {
    background: cadetblue;
    color: black !important;
}

@media screen and (max-width: 500px) {
    .navbar h1 {
        font-size: 1.3em;
    }

    .navbar a {
        float: none !important;
        display: block !important;
        position: relative !important;
        padding: 0 !important;
        margin: 0 auto !important;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
    }

    #socialLink {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        align-items: flex-start;
        margin-bottom: 8px;
    }
}

/* .navbar h1 {
    font-family: 'Montserrat', sans-serif;
} */

.transition {
    transition: opacity 1s ease-in;
}


/* About me section */

#headshot {
    margin-right: 14px;
}

#aboutMe {
    background-image: url(../assets/photos/bg.jpg);
    padding-top: 40px;
    background-size: cover;
    min-height: 60vh;
}

#aboutMeContent {
    margin: 1em;
}

.thoughtBubble {
    padding: 40px;
    background-color: #FFFFFF;
}


/*experience section*/

#experience {
    background-color: #FFFFFF;
}

.experienceGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
}

@media only screen and (max-width: 768px) {
    .experienceGrid {
        display: block;
    }
}

#experience .experienceBox {
    margin: 8px;
    border: 2px solid #e0c0a9;
    border-radius: 10px;
    overflow: hidden;
}

#experience .experienceLogoContainer {
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#experience .experienceBox .experienceTop {
    height: 10%;
    background-color: #e0c0a9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#experience .experienceBox .experienceBody {
    box-sizing: border-box;
    padding: .5em;
    background: white;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    height: 90%;
}

#experience .experienceBox .experienceBody .experienceImage {
    margin: 0;
}

#experience .experienceBox .experienceBody .experienceText {
    font-size: 14px;
    margin: 0;
}

#experience .experienceBox .experienceBody .btn {
    padding: 0.375em 0.75em;
    color: black;
    text-decoration: none;
    line-height: 1.5;
    border: 1px solid black;
    border-radius: 0.25em;
    transition: 0.5s;
    display: block;
}

#experience .experienceBox .experienceBody .btn:hover {
    color: white;
    background: black;
}


/* Hobbies section */

#hobbies {
    background-color: #FFFFFF;
}

.hobbyChild {
    width: 250px;
    height: 250px;
    margin: 1em;
}

#hobbies img {
    object-fit: cover;
    object-position: 0 20%;
    height: 250px;
    width: 250px;
}

#nailsReveal {
    background-image: url("../assets/nails.jpg");
    cursor: pointer;
}

#vintageReveal {
    background-image: url("../assets/vintage.png");
    cursor: pointer;
}

#embroideryReveal {
    background-image: url("../assets/embroidery.jpg");
}

.hobbyRevealContainer {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hobbyRevealContainer button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ebd7c9;
    outline: none;
    border: none;
    cursor: pointer;
    color: black;
}


/* Portfolio */
.videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContainer div {
    margin: 10px;
}

.collapsibleContainer {
    margin-top: 30px;
}

.collapsible {
    background-color: #ebd7c9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activePortfolio,
.collapsible:hover {
    background-color: #e0c0a9;
}

/* Style the collapsible content. Note: hidden by default */

.portfolioContent {
    padding: 0 18px;
    background-color: #FFEDD8;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.activePortfolio:after {
    content: "\2796";
}


/* photo section */

#photoSection {
    margin-top: 1em;
    background-color: #FFEDD8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.photoImage {
    margin: 1em;
}