/* Themes */

h1 {
    color: #000000;
    text-align: center;
}

h2 {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

* {
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #000000;
}

ul li,
ol li {
    line-height: 170%;
}

.horizontalContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fullHeight {
    height: 100%;
}

body {
    background-color: #ffe8d6;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    section {
        min-height: 100vh;
    }
}

section {
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    overflow: hidden;
    background-color: white;
    z-index: 99;
}

.navbar a {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    padding: 14px 16px;
    margin: 18px;
    text-align: center;
    color: cadetblue;
}

.navbar a:hover {
    background: cornflowerblue;
    color: black;
}

@media screen and (max-width: 500px) {
    .navbar h1 {
        font-size: 1.3em;
    }
    .navbar a {
        float: none;
        position: relative;
        padding: 0;
        margin: 0 auto;
    }
    .navbar {
        display: flex;
        flex-direction: column;
    }
}

.navbar h1 {
    font-family: 'Montserrat', sans-serif;
}

.transition {
    transition: opacity 1s ease-in;
}


/* About me section */

#headshot {
    margin-right: 14px;
}

#aboutMe {
    background-color: #FFEDD8;
    padding-top: 40px;
}

.thoughtBubble {
    padding: 40px;
    background-color: #FFFFFF;
}


/*experience section*/

#experience {
    background-color: #FFFFFF;
}

#experience .experienceBox {
    margin: 8px;
    width: 250px;
    border: 2px solid #e0c0a9;
    border-radius: 10px;
    overflow: hidden;
}

#experience .experienceBox .experienceTop {
    height: 40px;
    background-color: #e0c0a9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#experience .experienceBox .experienceBody {
    box-sizing: border-box;
    padding: .5em;
    background: white;
    height: fit-content;
}

#experience .experienceBox .experienceBody .experienceImage {
    margin: 0;
}

#experience .experienceBox .experienceBody .experienceText {
    font-size: 14px;
}

#experience .experienceBox .experienceBody .btn {
    padding: 0.375em 0.75em;
    color: black;
    text-decoration: none;
    line-height: 1.5;
    border: 1px solid black;
    border-radius: 0.25em;
    transition: 0.5s;
    display: block;
}

#experience .experienceBox .experienceBody .btn:hover {
    color: white;
    background: black;
}


/* Hobbies section */

#hobbies {
    background-color: #FFFFFF;
}

.hobbyParent {
    height: 250px;
    width: 250px;
    cursor: pointer;
    margin: 8px;
}

.hobbyChild {
    width: 250px;
    height: 250px;
}

#hobbies img {
    object-fit: cover;
    object-position: 0 20%;
    height: 250px;
    width: 250px;
}

#nailsReveal {
    background-image: url("../assets/nails.jpg");
}

#vintageReveal {
    background-image: url("../assets/vintage.png");
}

#embroideryReveal {
    background-image: url("../assets/embroidery.jpg");
}

.hobbyRevealContainer {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hobbyRevealContainer button {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #ebd7c9;
    outline: none;
    border: none;
    cursor: pointer;
}


/* Portfolio */

#portfolio {
    background-color: #FFEDD8;
}

.videoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContainer div {
    margin: 10px;
}

.collapsibleContainer {
    margin-top: 30px;
}

.collapsible {
    background-color: #ebd7c9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.activePortfolio,
.collapsible:hover {
    background-color: #e0c0a9;
}

.socialContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialContainer img {
    margin: 10px;
}

.socialContainer p {
    text-align: center;
}


/* Style the collapsible content. Note: hidden by default */

.portfolioContent {
    padding: 0 18px;
    background-color: #FFEDD8;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.activePortfolio:after {
    content: "\2796";
}


/* photo section */

#photoSection {
    background-color: #FFEDD8;
}

.photoImage {
    margin: 3;
}