extends ../layouts/base

block variables
  - pageLang = "en"
  - pageTitle = "Daley Crowley"
  - pageDescription = "Daley Crowley Personal Site"
  - pageKeywords = "Page-specific keywords"
  - pageUrl = "daleycrowley.com"


block body-content
  // Header
  +header

  // Home section
  +home

  // About section
  +about

  // Experience section
  +experience

  // Portfolio section
  +portfolio

  //- // Services section
  //- +services

  // Hobbies section
  +hobbies

  // Contacts section
  +contacts

  // Footer
  +footer
