mixin about()
  section#about.about-section
    .container
      .about-card
        header.about-card__header
          h2 Hi, I'm Daley
          h4 I'm a creative thinker with a passion for digital marketing.
        .about-card__info
          p On a sunny day, you can find me hiking, exploring, snowboarding, swimming, camping, kayaking, gardening, rollerblading or practicing yoga or gymnastics.
          br
          p On a rainy day, I'm probably cooking, baking, embroidering, painting, reading, or planning my next adventure.
          p.about-card__info-status
            span Current status:
            |  Let me help you with your digital dreams!
