mixin experience()
  section#experience.common-section
    .container
      header.common-section__header
        h2 Experience
      .grid-container
        ul.experience
          li.experience__item
            img(src="static/images/logos/TransparentLogo.png" alt="rochester cafe")
            blockquote
              p Designed and built website on WordPress.<br><br>Created marketing plan, preformed SEO audit & outlined social media roadmap.
              a(href="https://www.rochestercafe.com") Check out the site
              cite
                span.name Rochester Cafe
                span.role  Marketing & Web Design Consultant
          li.experience__item
            img(src="static/images/logos/crieto logo.png" alt="criteo logo")
            blockquote
              p Managed, monitored and adjusted hundreds of digital retargeting campaigns.<br><br>Trained new hires and other internal teams on new products.
              a(href="https://www.criteo.com") Learn about Criteo
              cite
                span.name Criteo
                span.role  Advertising Operations Specialist
          li.experience__item
            img(src="static/images/logos/dealer-logo.png" alt="Dealer.com logo")
            blockquote
              p Conducted client onboarding and built advertising strategies<br><br><b>Digital Campaign Coordinator</b><br> Created campaign content, analyzed and reported preformance.
              a(href="https://www.dealer.com") Learn about Dealer
              cite
                span.name Dealer.com
                span.role  Advertising Onboarding Coordinator
        ul.experience
          li.experience__item
            img(src="static/images/logos/placeholder.png" alt="Lorem ipsum dolor sit amet")
            blockquote
              p.icon.icon_ql Fusce aliquam lorem in ligula maximus, et fermentum velit ultricies. Sed quis pretium metus. Donec convallis pretium erat in varius. Sed ullamcorper, lacus vel euismod euismod, justo nibh tristique urna, ac sollicitudin nunc elit eget sem.
              a(href="https://www.earthhero.com") Earth Hero
              cite
                span.name EarthHero
                span.role  Brand Badass
          li.experience__item
            img(src="static/images/logos/castleton-logo.png" alt="Castleton University logo")
            blockquote
              p Published journalist and newspaper staff. <br><br>Athletic Videographer for Northeast Sports Network (NSN).
              a(href="https://www.castleton.edu") CU
              cite
                span.name Castleton University
                span.role  Major: Communications.
                  span.role  Minor: Public Relations.

          li.experience__item
            img(src="static/images/logos/Vermont PBS.png" alt="Vermont PBS Logo")
            blockquote
              p Contacted community members and businesses to collaborate on event planning and participation.<br><br> Assisted in video package filming, producing, editing and sharing.
              a(href="https://www.vermontpbs.org") Learn More
              cite
                span.name Vermont PBS
                span.role  Community Outreach Intern
