mixin header()
  header.main-header
    .first-nav
      .container

        a.first-nav__navcontrol.icon.icon_menu.js-navcontrol(href="#") Menu
    .second-nav.js-nav
      .container
        a.second-nav__logo: span DC
        nav.menu
          ul
            li
              a.js-link.js-anchor.is-selected(href="#home") Home
            li
              a.js-link.js-anchor(href="#about") About
            li
              a.js-link.js-anchor(href="#experience") Experience
            li
              a.js-link.js-anchor(href="#portfolio") Portfolio
            //- li
            //-   a.js-link.js-anchor(href="#services") Services
            li
              a.js-link.js-anchor(href="#hobbies") Hobbies
            li
              a.js-link.js-anchor(href="#contacts") Contacts
