mixin hobbies()
  section#hobbies.common-section
    .container
      header.common-section__header
        h2 Hobbies
      .grid-container
        ul.hobbies
          li.hobbies__step.hobbies__step_research
            .hobbies__step-icon.icon.icon_research.is-active
          li.hobbies__step-info.hobbies__step-info_research.is-active
            h3 @dailydaleynails
            p Proin mattis ex vel turpis interdum, in fringilla nibh tristique. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id ipsum in diam aliquam sodales.
          li.hobbies__step.hobbies__step_develop
            .hobbies__step-icon.icon.icon_develop
          li.hobbies__step-info.hobbies__step-info_develop
            h3 embroidery
            p Nullam laoreet lacus et ante consequat pharetra. Nam non felis tincidunt, auctor eros at, semper eros. Mauris feugiat a nibh et luctus.
          li.hobbies__step.hobbies__step_deploy
            .hobbies__step-icon.icon.icon_deploy
          li.hobbies__step-info.hobbies__step-info_deploy
            h3 Daley Vintage
            p Donec lobortis, est iaculis rutrum feugiat, orci est ultrices mauris, in rhoncus dolor eros non sem. Duis feugiat, metus eu ullamcorper accumsan, massa risus dictum nisi, sit amet ultricies lectus nisl eu libero.
          li.hobbies__step.hobbies__step_deliver
            .hobbies__step-icon.icon.icon_deliver
          li.hobbies__step-info.hobbies__step-info_deliver
            h3 Cats
            p Donec non ligula imperdiet, tincidunt quam ut, pellentesque nisi. Quisque est ante, faucibus a urna nec, vehicula pellentesque lectus.
