mixin hobbies()
  section#hobbies.common-section
    .container
      header.common-section__header
        h2 Hobbies
      .grid-container
        ul.hobbies
          li.hobbies__step.hobbies__step_research
            .hobbies__step-icon.icon.icon_research.is-active
          li.hobbies__step-info.hobbies__step-info_research.is-active
            h3 @dailydaleynails
          li.hobbies__step.hobbies__step_develop
            .hobbies__step-icon.icon.icon_develop
          li.hobbies__step-info.hobbies__step-info_develop
            h3 embroidery
            p Fave quarantine activity
          li.hobbies__step.hobbies__step_deploy
            .hobbies__step-icon.icon.icon_deploy
          li.hobbies__step-info.hobbies__step-info_deploy
            h3 Daley Vintage
          li.hobbies__step.hobbies__step_deliver
            .hobbies__step-icon.icon.icon_deliver
          li.hobbies__step-info.hobbies__step-info_deliver
            h3 Cats
            p I luv cats
