mixin portfolio()
  section#portfolio.common-section
    header.common-section__header
      h2 portfolio
      p Donec lorem ante, efficitur ut blandit eu, sollicitudin sed mi

    .portfolio-wrap
      .grid-container
        .portfolio
          figure.portfolio__item
            img(src="static/images/portfolio/4.jpg" alt="published articles")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Published Articles
          figure.portfolio__item
            img(src="static/images/portfolio/Country store email screen shot.png" alt="country store email")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Store-Wide Sale Email
          figure.portfolio__item
            img(src="static/images/portfolio/Grand reopening screen shot.png" alt="Grand re-opening")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") News Letter Email
          figure.portfolio__item
            img(src="static/images/portfolio/Rochester cafe email screen shot.png" alt="Cafe email")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Grand Re-Opening Flyer
          figure.portfolio__item
            img(src="static/images/portfolio/Cafe Instagram Story.png" alt="Online ordering ig")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Online Ordering At Rochester Cafe
          figure.portfolio__item
            img(src="static/images/portfolio/Country Store Instagram Story.png" alt="Country store ig")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Country Store Instagram Story
          figure.portfolio__item
            img(src="static/images/portfolio/Cafe Instagram Story2.png                                                       " alt="Sale IG Story")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Cafe Instagram Story
          figure.portfolio__item
            img(src="static/images/portfolio/Cafe Instagram Story3png.png" alt="Valentines day ig story")
            figcaption
              a.icon.icon_link(href="#" rel="nofollow") Valentines Day IG Story

